In [1]:
import pandas as pd
import pathlib
from sklearn import preprocessing
import numpy as np
import random
import tensorflow as tf
from IPython.display import clear_output

In [2]:
prices = pd.read_csv('../../data/854_1575_bundle_archive/prices-split-adjusted.csv')
prices

,date,symbol,open,close,low,high,volume
0,2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0
...,...,...,...,...,...,...,...
851259,2016-12-30,ZBH,103.309998,103.199997,102.849998,103.930000,973800.0
851260,2016-12-30,ZION,43.070000,43.040001,42.689999,43.310001,1938100.0
851261,2016-12-30,ZTS,53.639999,53.529999,53.270000,53.740002,1701200.0
851262,2016-12-30,AIV,44.730000,45.450001,44.410000,45.590000,1380900.0
851263,2016-12-30,FTV,54.200001,53.630001,53.389999,54.480000,705100.0

In [3]:
prices.groupby("symbol").size().min()

126

In [4]:
len(np.unique(prices.symbol))

501

In [5]:
prices[prices.symbol=="WLTW"].close.to_numpy()

array([125.839996, 119.980003, 114.949997, 116.620003, 114.970001,
       115.550003, 112.849998, 114.379997, 112.529999, 110.379997,
       109.300003, 110.      , 111.949997, 110.120003, 111.      ,
       110.709999, 112.580002, 114.470001, 114.5     , 110.559998,
       114.050003, 115.709999, 114.019997, 111.160004, 110.650002,
       107.519997, 107.129997, 107.839996, 110.769997, 111.239998,
       111.599998, 110.330002, 113.040001, 111.889999, 111.559998,
       112.879997, 112.75    , 113.32    , 115.510002, 116.779999,
       117.      , 117.190002, 116.949997, 116.709999, 116.489998,
       116.82    , 120.620003, 120.629997, 120.699997, 120.82    ,
       124.029999, 121.269997, 121.449997, 121.470001, 119.379997,
       119.410004, 118.720001, 117.980003, 118.739998, 118.660004,
       119.93    , 117.650002, 114.07    , 115.470001, 113.540001,
       113.410004, 114.639999, 115.790001, 117.989998, 117.720001,
       118.449997, 121.260002, 121.68    , 122.309998, 123.010002,
       123.790001, 123.300003, 124.400002, 124.690002, 124.150002,
       124.900002, 125.959999, 126.269997, 126.559998, 127.660004,
       121.559998, 123.440002, 125.510002, 124.209999, 123.889999,
       122.970001, 123.910004, 123.410004, 125.269997, 125.120003,
       125.57    , 125.949997, 126.620003, 126.459999, 126.610001,
       127.910004, 128.020004, 128.070007, 128.75    , 127.480003,
       127.68    , 129.25    , 129.029999, 129.580002, 127.010002,
       125.470001, 124.959999, 124.139999, 124.839996, 125.330002,
       126.269997, 127.330002, 126.489998, 127.650002, 117.010002,
       113.400002, 117.559998, 121.      , 124.309998, 124.      ,
       123.480003, 124.870003, 124.440002, 125.059998, 125.519997,
       127.199997, 126.419998, 126.040001, 124.589996, 123.980003,
       124.169998, 124.      , 123.330002, 123.940002, 124.      ,
       123.760002, 124.269997, 123.739998, 123.620003, 123.839996,
       123.169998, 123.82    , 124.089996, 119.919998, 120.589996,
       121.230003, 121.82    , 122.75    , 121.470001, 121.529999,
       121.480003, 121.93    , 122.559998, 122.720001, 122.949997,
       123.110001, 122.209999, 122.209999, 122.989998, 123.919998,
       123.940002, 124.010002, 124.849998, 126.529999, 127.660004,
       128.550003, 125.419998, 122.040001, 125.25    , 123.089996,
       122.300003, 125.120003, 123.949997, 124.68    , 125.68    ,
       128.399994, 129.179993, 128.089996, 128.      , 128.899994,
       127.989998, 129.789993, 132.770004, 132.110001, 131.570007,
       131.960007, 132.089996, 131.059998, 131.020004, 128.729996,
       129.889999, 127.910004, 128.369995, 127.089996, 128.009995,
       128.759995, 127.480003, 126.790001, 127.290001, 126.449997,
       126.110001, 125.629997, 125.650002, 125.900002, 124.330002,
       122.970001, 123.669998, 116.779999, 117.690002, 118.790001,
       118.      , 122.269997, 121.480003, 122.489998, 123.330002,
       122.669998, 124.599998, 124.82    , 123.889999, 124.82    ,
       124.559998, 125.300003, 124.370003, 124.379997, 124.370003,
       121.419998, 119.940002, 121.480003, 124.760002, 124.75    ,
       123.      , 122.790001, 121.209999, 124.459999, 122.260002,
       122.370003, 122.330002, 123.629997, 123.839996, 122.989998,
       122.849998, 124.489998, 124.279999, 122.379997, 122.169998,
       122.279999])

In [6]:
unique_symbols = pd.unique(prices.symbol)
sum_change = 0
count = 0
for symbol in unique_symbols:
    selected_data = prices[prices.symbol==symbol].close.to_numpy()
    for i in range(len(selected_data)-1):
        sum_change += (selected_data[i+1]-selected_data[i])/selected_data[i]
        count += 1
    clear_output(True)
    print('%{}'.format(count/len(prices)*100))
    print('{} / {}'.format(count, len(prices)))
average_change = sum_change / count * 100

%8.510990714983837
72451 / 851264

KeyboardInterrupt:

In [7]:
average_change * 100

NameError: name 'average_change' is not defined

In [8]:
unique_symbols = pd.unique(prices.symbol)
count = 0
positive_sum_change = 0
positive_count = 0
negative_sum_change = 0
negative_count = 0
for symbol in unique_symbols:
    selected_data = prices[prices.symbol==symbol].close.to_numpy()
    for i in range(len(selected_data)-1):
        change = (selected_data[i+1]-selected_data[i])
        if change>0:
            positive_sum_change += (selected_data[i+1]-selected_data[i])/selected_data[i]
            positive_count += 1
        elif change<0:
            negative_sum_change += (selected_data[i+1]-selected_data[i])/selected_data[i]
            negative_count += 1
        count += 1
    clear_output(True)
    print('%{}'.format(count/len(prices)*100))
    print('{} / {}'.format(count, len(prices)))
average_positive_change = positive_sum_change / positive_count * 100
average_negative_change = negative_sum_change / negative_count * 100

%6.028564581610405
51319 / 851264

KeyboardInterrupt:

In [9]:
average_positive_change

NameError: name 'average_positive_change' is not defined

In [10]:
average_negative_change

NameError: name 'average_negative_change' is not defined

In [11]:
prices.date[0]

'2016-01-05'

In [12]:
prices["year"] = prices.date.str[:4]

In [13]:
prices.year

0         2016
1         2016
2         2016
3         2016
4         2016
          ...
851259    2016
851260    2016
851261    2016
851262    2016
851263    2016
Name: year, Length: 851264, dtype: object

In [14]:
min(prices.date)

'2010-01-04'

In [15]:
details = pd.read_csv('../../data/854_1575_bundle_archive/securities.csv')
details[["Ticker symbol","GICS Sector","GICS Sub Industry"]]

    Ticker symbol             GICS Sector               GICS Sub Industry
0             MMM             Industrials        Industrial Conglomerates
1             ABT             Health Care           Health Care Equipment
2            ABBV             Health Care                 Pharmaceuticals
3             ACN  Information Technology  IT Consulting & Other Services
4            ATVI  Information Technology     Home Entertainment Software
..            ...                     ...                             ...
500          YHOO  Information Technology    Internet Software & Services
501           YUM  Consumer Discretionary                     Restaurants
502           ZBH             Health Care           Health Care Equipment
503          ZION              Financials                  Regional Banks
504           ZTS             Health Care                 Pharmaceuticals

[505 rows x 3 columns]

In [16]:
np.unique(details["GICS Sector"], return_counts=True)

(array(['Consumer Discretionary', 'Consumer Staples', 'Energy',
        'Financials', 'Health Care', 'Industrials',
        'Information Technology', 'Materials', 'Real Estate',
        'Telecommunications Services', 'Utilities'], dtype=object),
 array([85, 37, 36, 64, 59, 69, 68, 25, 29,  5, 28]))

In [17]:
len(np.unique(details["Ticker symbol"]))

505

In [18]:
np.setdiff1d(np.unique(details["Ticker symbol"]),np.unique(prices.symbol))

array(['BF.B', 'BRK.B', 'MS', 'UA'], dtype=object)

In [19]:
en_tokenizer = tf.keras.preprocessing.text.Tokenizer()
en_tokenizer.fit_on_texts(details["GICS Sub Industry"])

data_en = en_tokenizer.texts_to_sequences(details["GICS Sub Industry"])
data_en = tf.keras.preprocessing.sequence.pad_sequences(data_en,padding='post')
data_en

array([[  8,  13,   0,   0,   0],
       [  2,   3,   6,   0,   0],
       [ 31,   0,   0,   0,   0],
       ...,
       [  2,   3,   6,   0,   0],
       [114,  12,   0,   0,   0],
       [ 31,   0,   0,   0,   0]], dtype=int32)

In [20]:
en_tokenizer.get_config()

{'num_words': None,
 'filters': '!"#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n',
 'lower': True,
 'split': ' ',
 'char_level': False,
 'oov_token': None,
 'document_count': 505,
 'word_counts': '{"industrial": 30, "conglomerates": 21, "health": 43, "care": 40, "equipment": 35, "pharmaceuticals": 10, "it": 5, "consulting": 9, "other": 5, "services": 60, "home": 5, "entertainment": 2, "software": 31, "electrical": 2, "components": 4, "application": 5, "automotive": 1, "retail": 23, "independent": 2, "power": 2, "producers": 2, "energy": 2, "traders": 2, "managed": 6, "asset": 6, "management": 6, "custody": 6, "banks": 22, "life": 5, "insurance": 17, "gases": 2, "internet": 24, "airlines": 5, "specialty": 14, "chemicals": 13, "biotechnology": 7, "building": 5, "products": 15, "data": 4, "processing": 3, "outsourced": 3, "electric": 12, "utilities": 13, "property": 8, "casualty": 8, "tobacco": 3, "direct": 4, "marketing": 10, "multiutilities": 13, "consumer": 8, "finance": 7, "specialized": 3, "reits": 28, "water": 1, "distributors": 10, "electronic": 4, "oil": 36, "gas": 36, "exploration": 18, "production": 18, "semiconductors": 13, "brokers": 4, "computer": 5, "hardware": 4, "semiconductor": 3, "agricultural": 4, "aerospace": 7, "defense": 7, "multi": 5, "line": 2, "integrated": 9, "telecommunications": 6, "stores": 15, "residential": 4, "paper": 4, "packaging": 4, "metal": 1, "glass": 1, "containers": 1, "sector": 3, "holdings": 3, "electronics": 3, "auto": 2, "parts": 2, "distillers": 2, "vintners": 2, "air": 4, "freight": 4, "logistics": 4, "systems": 3, "packaged": 12, "foods": 12, "meats": 12, "hotels": 4, "resorts": 4, "cruise": 4, "lines": 4, "construction": 5, "farm": 3, "machinery": 9, "heavy": 3, "trucks": 3, "real": 1, "estate": 1, "broadcasting": 5, "cable": 9, "tv": 5, "technology": 3, "fertilizers": 3, "investment": 4, "banking": 4, "brokerage": 4, "satellite": 4, "restaurants": 5, "household": 7, "diversified": 18, "support": 1, "networking": 3, "regional": 3, "financial": 11, "exchanges": 1, "apparel": 16, "accessories": 10, "luxury": 10, "goods": 10, "soft": 4, "drinks": 4, "hypermarkets": 2, "super": 2, "centers": 2, "personal": 3, "railroads": 4, "drug": 2, "homebuilding": 3, "facilities": 5, "supplies": 4, "general": 4, "merchandise": 4, "research": 4, "instruments": 1, "commercial": 1, "automobile": 2, "manufacturers": 3, "copper": 1, "tires": 1, "rubber": 1, "materials": 3, "motorcycle": 1, "leisure": 2, "drilling": 2, "storage": 3, "peripherals": 3, "improvement": 2, "sciences": 2, "tools": 2, "advertising": 2, "trucking": 1, "refining": 6, "transportation": 6, "food": 3, "alternative": 1, "carriers": 1, "department": 2, "furnishings": 1, "brewers": 1, "housewares": 1, "specialties": 1, "gold": 1, "publishing": 5, "steel": 1, "thrifts": 1, "mortgage": 1, "and": 1, "human": 1, "resource": 1, "employment": 1, "office": 1, "appliances": 3, "manufacturing": 1, "trading": 1, "companies": 1, "environmental": 1, "casinos": 1, "gaming": 1}',
 'word_docs': '{"industrial": 30, "conglomerates": 21, "health": 43, "care": 40, "equipment": 35, "pharmaceuticals": 10, "other": 5, "consulting": 9, "services": 60, "it": 5, "software": 31, "entertainment": 2, "home": 5, "components": 4, "electrical": 2, "application": 5, "automotive": 1, "retail": 23, "energy": 2, "independent": 2, "producers": 2, "power": 2, "traders": 2, "managed": 6, "management": 6, "banks": 22, "asset": 6, "custody": 6, "life": 5, "insurance": 17, "gases": 2, "internet": 24, "airlines": 5, "specialty": 14, "chemicals": 13, "biotechnology": 7, "products": 15, "building": 5, "data": 4, "outsourced": 3, "processing": 3, "electric": 12, "utilities": 13, "property": 8, "casualty": 8, "tobacco": 3, "direct": 4, "marketing": 10, "multiutilities": 13, "consumer": 8, "finance": 7, "specialized": 3, "reits": 28, "water": 1, "distributors": 10, "electronic": 4, "gas": 36, "production": 18, "exploration": 18, "oil": 36, "semiconductors": 13, "brokers": 4, "hardware": 4, "computer": 5, "semiconductor": 3, "agricultural": 4, "aerospace": 7, "defense": 7, "multi": 5, "line": 2, "telecommunications": 6, "integrated": 9, "stores": 15, "residential": 4, "packaging": 4, "paper": 4, "metal": 1, "containers": 1, "glass": 1, "holdings": 3, "sector": 3, "electronics": 3, "parts": 2, "auto": 2, "vintners": 2, "distillers": 2, "logistics": 4, "freight": 4, "air": 4, "systems": 3, "meats": 12, "packaged": 12, "foods": 12, "cruise": 4, "resorts": 4, "hotels": 4, "lines": 4, "heavy": 3, "machinery": 9, "construction": 5, "trucks": 3, "farm": 3, "estate": 1, "real": 1, "cable": 9, "broadcasting": 5, "tv": 5, "technology": 3, "fertilizers": 3, "investment": 4, "banking": 4, "brokerage": 4, "satellite": 4, "restaurants": 5, "household": 7, "support": 1, "diversified": 18, "networking": 3, "regional": 3, "exchanges": 1, "financial": 11, "luxury": 10, "apparel": 16, "accessories": 10, "goods": 10, "soft": 4, "drinks": 4, "centers": 2, "hypermarkets": 2, "super": 2, "personal": 3, "railroads": 4, "drug": 2, "homebuilding": 3, "facilities": 5, "supplies": 4, "merchandise": 4, "general": 4, "research": 4, "instruments": 1, "commercial": 1, "manufacturers": 3, "automobile": 2, "copper": 1, "rubber": 1, "tires": 1, "materials": 3, "motorcycle": 1, "leisure": 2, "drilling": 2, "peripherals": 3, "storage": 3, "improvement": 2, "tools": 2, "sciences": 2, "advertising": 2, "trucking": 1, "refining": 6, "transportation": 6, "food": 3, "alternative": 1, "carriers": 1, "department": 2, "furnishings": 1, "brewers": 1, "housewares": 1, "specialties": 1, "gold": 1, "publishing": 5, "steel": 1, "mortgage": 1, "thrifts": 1, "and": 1, "resource": 1, "employment": 1, "human": 1, "office": 1, "appliances": 3, "manufacturing": 1, "companies": 1, "trading": 1, "environmental": 1, "casinos": 1, "gaming": 1}',
 'index_docs': '{"8": 30, "13": 21, "2": 43, "3": 40, "6": 35, "31": 10, "57": 5, "37": 9, "1": 60, "56": 5, "7": 31, "123": 2, "58": 5, "71": 4, "124": 2, "59": 5, "148": 1, "11": 23, "128": 2, "125": 2, "127": 2, "126": 2, "129": 2, "49": 6, "51": 6, "12": 22, "50": 6, "52": 6, "60": 5, "17": 17, "130": 2, "10": 24, "61": 5, "21": 14, "22": 13, "44": 7, "19": 15, "62": 5, "72": 4, "100": 3, "99": 3, "26": 12, "23": 13, "41": 8, "42": 8, "101": 3, "73": 4, "32": 10, "24": 13, "43": 8, "45": 7, "102": 3, "9": 28, "149": 1, "33": 10, "74": 4, "5": 36, "15": 18, "14": 18, "4": 36, "25": 13, "75": 4, "76": 4, "63": 5, "103": 3, "77": 4, "46": 7, "47": 7, "64": 5, "131": 2, "53": 6, "38": 9, "20": 15, "78": 4, "80": 4, "79": 4, "150": 1, "152": 1, "151": 1, "105": 3, "104": 3, "106": 3, "133": 2, "132": 2, "135": 2, "134": 2, "83": 4, "82": 4, "81": 4, "107": 3, "29": 12, "27": 12, "28": 12, "86": 4, "85": 4, "84": 4, "87": 4, "109": 3, "39": 9, "65": 5, "110": 3, "108": 3, "154": 1, "153": 1, "40": 9, "66": 5, "67": 5, "111": 3, "112": 3, "88": 4, "89": 4, "90": 4, "91": 4, "68": 5, "48": 7, "155": 1, "16": 18, "113": 3, "114": 3, "156": 1, "30": 11, "35": 10, "18": 16, "34": 10, "36": 10, "92": 4, "93": 4, "138": 2, "136": 2, "137": 2, "115": 3, "94": 4, "139": 2, "116": 3, "69": 5, "95": 4, "97": 4, "96": 4, "98": 4, "157": 1, "158": 1, "117": 3, "140": 2, "159": 1, "161": 1, "160": 1, "118": 3, "162": 1, "141": 2, "142": 2, "120": 3, "119": 3, "143": 2, "145": 2, "144": 2, "146": 2, "163": 1, "54": 6, "55": 6, "121": 3, "164": 1, "165": 1, "147": 2, "166": 1, "167": 1, "168": 1, "169": 1, "170": 1, "70": 5, "171": 1, "173": 1, "172": 1, "174": 1, "176": 1, "177": 1, "175": 1, "178": 1, "122": 3, "179": 1, "181": 1, "180": 1, "182": 1, "183": 1, "184": 1}',
 'index_word': '{"1": "services", "2": "health", "3": "care", "4": "oil", "5": "gas", "6": "equipment", "7": "software", "8": "industrial", "9": "reits", "10": "internet", "11": "retail", "12": "banks", "13": "conglomerates", "14": "exploration", "15": "production", "16": "diversified", "17": "insurance", "18": "apparel", "19": "products", "20": "stores", "21": "specialty", "22": "chemicals", "23": "utilities", "24": "multiutilities", "25": "semiconductors", "26": "electric", "27": "packaged", "28": "foods", "29": "meats", "30": "financial", "31": "pharmaceuticals", "32": "marketing", "33": "distributors", "34": "accessories", "35": "luxury", "36": "goods", "37": "consulting", "38": "integrated", "39": "machinery", "40": "cable", "41": "property", "42": "casualty", "43": "consumer", "44": "biotechnology", "45": "finance", "46": "aerospace", "47": "defense", "48": "household", "49": "managed", "50": "asset", "51": "management", "52": "custody", "53": "telecommunications", "54": "refining", "55": "transportation", "56": "it", "57": "other", "58": "home", "59": "application", "60": "life", "61": "airlines", "62": "building", "63": "computer", "64": "multi", "65": "construction", "66": "broadcasting", "67": "tv", "68": "restaurants", "69": "facilities", "70": "publishing", "71": "components", "72": "data", "73": "direct", "74": "electronic", "75": "brokers", "76": "hardware", "77": "agricultural", "78": "residential", "79": "paper", "80": "packaging", "81": "air", "82": "freight", "83": "logistics", "84": "hotels", "85": "resorts", "86": "cruise", "87": "lines", "88": "investment", "89": "banking", "90": "brokerage", "91": "satellite", "92": "soft", "93": "drinks", "94": "railroads", "95": "supplies", "96": "general", "97": "merchandise", "98": "research", "99": "processing", "100": "outsourced", "101": "tobacco", "102": "specialized", "103": "semiconductor", "104": "sector", "105": "holdings", "106": "electronics", "107": "systems", "108": "farm", "109": "heavy", "110": "trucks", "111": "technology", "112": "fertilizers", "113": "networking", "114": "regional", "115": "personal", "116": "homebuilding", "117": "manufacturers", "118": "materials", "119": "storage", "120": "peripherals", "121": "food", "122": "appliances", "123": "entertainment", "124": "electrical", "125": "independent", "126": "power", "127": "producers", "128": "energy", "129": "traders", "130": "gases", "131": "line", "132": "auto", "133": "parts", "134": "distillers", "135": "vintners", "136": "hypermarkets", "137": "super", "138": "centers", "139": "drug", "140": "automobile", "141": "leisure", "142": "drilling", "143": "improvement", "144": "sciences", "145": "tools", "146": "advertising", "147": "department", "148": "automotive", "149": "water", "150": "metal", "151": "glass", "152": "containers", "153": "real", "154": "estate", "155": "support", "156": "exchanges", "157": "instruments", "158": "commercial", "159": "copper", "160": "tires", "161": "rubber", "162": "motorcycle", "163": "trucking", "164": "alternative", "165": "carriers", "166": "furnishings", "167": "brewers", "168": "housewares", "169": "specialties", "170": "gold", "171": "steel", "172": "thrifts", "173": "mortgage", "174": "and", "175": "human", "176": "resource", "177": "employment", "178": "office", "179": "manufacturing", "180": "trading", "181": "companies", "182": "environmental", "183": "casinos", "184": "gaming"}',
 'word_index': '{"services": 1, "health": 2, "care": 3, "oil": 4, "gas": 5, "equipment": 6, "software": 7, "industrial": 8, "reits": 9, "internet": 10, "retail": 11, "banks": 12, "conglomerates": 13, "exploration": 14, "production": 15, "diversified": 16, "insurance": 17, "apparel": 18, "products": 19, "stores": 20, "specialty": 21, "chemicals": 22, "utilities": 23, "multiutilities": 24, "semiconductors": 25, "electric": 26, "packaged": 27, "foods": 28, "meats": 29, "financial": 30, "pharmaceuticals": 31, "marketing": 32, "distributors": 33, "accessories": 34, "luxury": 35, "goods": 36, "consulting": 37, "integrated": 38, "machinery": 39, "cable": 40, "property": 41, "casualty": 42, "consumer": 43, "biotechnology": 44, "finance": 45, "aerospace": 46, "defense": 47, "household": 48, "managed": 49, "asset": 50, "management": 51, "custody": 52, "telecommunications": 53, "refining": 54, "transportation": 55, "it": 56, "other": 57, "home": 58, "application": 59, "life": 60, "airlines": 61, "building": 62, "computer": 63, "multi": 64, "construction": 65, "broadcasting": 66, "tv": 67, "restaurants": 68, "facilities": 69, "publishing": 70, "components": 71, "data": 72, "direct": 73, "electronic": 74, "brokers": 75, "hardware": 76, "agricultural": 77, "residential": 78, "paper": 79, "packaging": 80, "air": 81, "freight": 82, "logistics": 83, "hotels": 84, "resorts": 85, "cruise": 86, "lines": 87, "investment": 88, "banking": 89, "brokerage": 90, "satellite": 91, "soft": 92, "drinks": 93, "railroads": 94, "supplies": 95, "general": 96, "merchandise": 97, "research": 98, "processing": 99, "outsourced": 100, "tobacco": 101, "specialized": 102, "semiconductor": 103, "sector": 104, "holdings": 105, "electronics": 106, "systems": 107, "farm": 108, "heavy": 109, "trucks": 110, "technology": 111, "fertilizers": 112, "networking": 113, "regional": 114, "personal": 115, "homebuilding": 116, "manufacturers": 117, "materials": 118, "storage": 119, "peripherals": 120, "food": 121, "appliances": 122, "entertainment": 123, "electrical": 124, "independent": 125, "power": 126, "producers": 127, "energy": 128, "traders": 129, "gases": 130, "line": 131, "auto": 132, "parts": 133, "distillers": 134, "vintners": 135, "hypermarkets": 136, "super": 137, "centers": 138, "drug": 139, "automobile": 140, "leisure": 141, "drilling": 142, "improvement": 143, "sciences": 144, "tools": 145, "advertising": 146, "department": 147, "automotive": 148, "water": 149, "metal": 150, "glass": 151, "containers": 152, "real": 153, "estate": 154, "support": 155, "exchanges": 156, "instruments": 157, "commercial": 158, "copper": 159, "tires": 160, "rubber": 161, "motorcycle": 162, "trucking": 163, "alternative": 164, "carriers": 165, "furnishings": 166, "brewers": 167, "housewares": 168, "specialties": 169, "gold": 170, "steel": 171, "thrifts": 172, "mortgage": 173, "and": 174, "human": 175, "resource": 176, "employment": 177, "office": 178, "manufacturing": 179, "trading": 180, "companies": 181, "environmental": 182, "casinos": 183, "gaming": 184}'}

In [21]:
import json 
len(json.loads(en_tokenizer.get_config()["word_index"]))

184

In [22]:
ts = np.append(np.array(details["Ticker symbol"]).reshape((505,1)),data_en,axis=-1)

In [23]:
ts[:,0]

array(['MMM', 'ABT', 'ABBV', 'ACN', 'ATVI', 'AYI', 'ADBE', 'AAP', 'AES',
       'AET', 'AMG', 'AFL', 'A', 'APD', 'AKAM', 'ALK', 'ALB', 'ALXN',
       'ALLE', 'AGN', 'ADS', 'LNT', 'ALL', 'GOOGL', 'GOOG', 'MO', 'AMZN',
       'AEE', 'AAL', 'AEP', 'AXP', 'AIG', 'AMT', 'AWK', 'AMP', 'ABC',
       'AME', 'AMGN', 'APH', 'APC', 'ADI', 'ANTM', 'AON', 'APA', 'AIV',
       'AAPL', 'AMAT', 'ADM', 'ARNC', 'AJG', 'AIZ', 'T', 'ADSK', 'ADP',
       'AN', 'AZO', 'AVB', 'AVY', 'BHI', 'BLL', 'BAC', 'BCR', 'BAX',
       'BBT', 'BDX', 'BBBY', 'BRK.B', 'BBY', 'BIIB', 'BLK', 'HRB', 'BA',
       'BWA', 'BXP', 'BSX', 'BMY', 'AVGO', 'BF.B', 'CHRW', 'CA', 'COG',
       'CPB', 'COF', 'CAH', 'KMX', 'CCL', 'CAT', 'CBG', 'CBS', 'CELG',
       'CNC', 'CNP', 'CTL', 'CERN', 'CF', 'SCHW', 'CHTR', 'CHK', 'CVX',
       'CMG', 'CB', 'CHD', 'CI', 'XEC', 'CINF', 'CTAS', 'CSCO', 'C',
       'CFG', 'CTXS', 'CME', 'CMS', 'COH', 'KO', 'CTSH', 'CL', 'CMCSA',
       'CMA', 'CAG', 'CXO', 'COP', 'ED', 'STZ', 'GLW', 'COST', 'COTY',
       'CCI', 'CSRA', 'CSX', 'CMI', 'CVS', 'DHI', 'DHR', 'DRI', 'DVA',
       'DE', 'DLPH', 'DAL', 'XRAY', 'DVN', 'DLR', 'DFS', 'DISCA', 'DISCK',
       'DG', 'DLTR', 'D', 'DOV', 'DOW', 'DPS', 'DTE', 'DD', 'DUK', 'DNB',
       'ETFC', 'EMN', 'ETN', 'EBAY', 'ECL', 'EIX', 'EW', 'EA', 'EMR',
       'ENDP', 'ETR', 'EVHC', 'EOG', 'EQT', 'EFX', 'EQIX', 'EQR', 'ESS',
       'EL', 'ES', 'EXC', 'EXPE', 'EXPD', 'ESRX', 'EXR', 'XOM', 'FFIV',
       'FB', 'FAST', 'FRT', 'FDX', 'FIS', 'FITB', 'FSLR', 'FE', 'FISV',
       'FLIR', 'FLS', 'FLR', 'FMC', 'FTI', 'FL', 'F', 'FTV', 'FBHS',
       'BEN', 'FCX', 'FTR', 'GPS', 'GRMN', 'GD', 'GE', 'GGP', 'GIS', 'GM',
       'GPC', 'GILD', 'GPN', 'GS', 'GT', 'GWW', 'HAL', 'HBI', 'HOG',
       'HAR', 'HRS', 'HIG', 'HAS', 'HCA', 'HCP', 'HP', 'HSIC', 'HES',
       'HPE', 'HOLX', 'HD', 'HON', 'HRL', 'HST', 'HPQ', 'HUM', 'HBAN',
       'IDXX', 'ITW', 'ILMN', 'IR', 'INTC', 'ICE', 'IBM', 'IP', 'IPG',
       'IFF', 'INTU', 'ISRG', 'IVZ', 'IRM', 'JBHT', 'JEC', 'SJM', 'JNJ',
       'JCI', 'JPM', 'JNPR', 'KSU', 'K', 'KEY', 'KMB', 'KIM', 'KMI',
       'KLAC', 'KSS', 'KHC', 'KR', 'LB', 'LLL', 'LH', 'LRCX', 'LEG',
       'LEN', 'LUK', 'LVLT', 'LLY', 'LNC', 'LLTC', 'LKQ', 'LMT', 'L',
       'LOW', 'LYB', 'MTB', 'MAC', 'M', 'MNK', 'MRO', 'MPC', 'MAR', 'MMC',
       'MLM', 'MAS', 'MA', 'MAT', 'MKC', 'MCD', 'MCK', 'MJN', 'MDT',
       'MRK', 'MET', 'MTD', 'KORS', 'MCHP', 'MU', 'MSFT', 'MAA', 'MHK',
       'TAP', 'MDLZ', 'MON', 'MNST', 'MCO', 'MS', 'MSI', 'MUR', 'MYL',
       'NDAQ', 'NOV', 'NAVI', 'NTAP', 'NFLX', 'NWL', 'NFX', 'NEM', 'NWSA',
       'NWS', 'NEE', 'NLSN', 'NKE', 'NI', 'NBL', 'JWN', 'NSC', 'NTRS',
       'NOC', 'NRG', 'NUE', 'NVDA', 'ORLY', 'OXY', 'OMC', 'OKE', 'ORCL',
       'PCAR', 'PH', 'PDCO', 'PAYX', 'PYPL', 'PNR', 'PBCT', 'PEP', 'PKI',
       'PRGO', 'PFE', 'PCG', 'PM', 'PSX', 'PNW', 'PXD', 'PBI', 'PNC',
       'RL', 'PPG', 'PPL', 'PX', 'PCLN', 'PFG', 'PG', 'PGR', 'PLD', 'PRU',
       'PEG', 'PSA', 'PHM', 'PVH', 'QRVO', 'QCOM', 'PWR', 'DGX', 'RRC',
       'RTN', 'O', 'RHT', 'REGN', 'RF', 'RSG', 'RAI', 'RHI', 'ROK', 'COL',
       'ROP', 'ROST', 'RCL', 'R', 'SPGI', 'CRM', 'SCG', 'SLB', 'SNI',
       'STX', 'SEE', 'SRE', 'SHW', 'SIG', 'SPG', 'SWKS', 'SLG', 'SNA',
       'SO', 'LUV', 'SWN', 'SE', 'SWK', 'SPLS', 'SBUX', 'STT', 'SRCL',
       'SYK', 'STI', 'SYMC', 'SYF', 'SYY', 'TROW', 'TGT', 'TEL', 'TGNA',
       'TDC', 'TSO', 'TXN', 'TXT', 'BK', 'CLX', 'COO', 'HSY', 'MOS',
       'TRV', 'DIS', 'TMO', 'TIF', 'TWX', 'TJX', 'TMK', 'TSS', 'TSCO',
       'TDG', 'RIG', 'TRIP', 'FOXA', 'FOX', 'TSN', 'USB', 'UDR', 'ULTA',
       'UA', 'UAA', 'UNP', 'UAL', 'UNH', 'UPS', 'URI', 'UTX', 'UHS',
       'UNM', 'URBN', 'VFC', 'VLO', 'VAR', 'VTR', 'VRSN', 'VRSK', 'VZ',
       'VRTX', 'VIAB', 'V', 'VNO', 'VMC', 'WMT', 'WBA', 'WM', 'WAT',
       'WEC', 'WFC', 'HCN', 'WDC', 'WU', 'WRK', 'WY', 'WHR', 'WFM', 'WMB',
       'WLTW', 'WYN', 'WYNN', 'XEL', 'XRX', 'XLNX', 'XL', 'XYL', 'YHOO',
       'YUM', 'ZBH', 'ZION', 'ZTS'], dtype=object)

In [24]:
i = np.argwhere(ts[:,0]=='HIG')[0,0]

In [25]:
data_en.shape

(505, 5)

In [26]:
a = np.empty((2,data_en.shape[1]))

In [27]:
a[0] = ts[i][1:]

In [28]:
a[1] = ts[i][1:]

In [29]:
a

array([[41., 42., 17.,  0.,  0.],
       [41., 42., 17.,  0.,  0.]])

In [30]:
ts[i][1:]

array([41, 42, 17, 0, 0], dtype=object)

In [31]:
len(details["GICS Sector"].unique())

11

In [32]:
len(details["GICS Sub Industry"].unique())

124

In [33]:
fundamentals = pd.read_csv('../../data/854_1575_bundle_archive/fundamentals.csv')
len(fundamentals.columns)-1

78

In [34]:
fundamentals = pd.read_csv('../../data/854_1575_bundle_archive/fundamentals.csv')
fundamentals = fundamentals.drop(columns=fundamentals.columns[0]).dropna()
fundamentals["Key"] = fundamentals["Ticker Symbol"]+fundamentals["For Year"].astype(int).astype(str)
fundamentals = fundamentals.drop(columns="Ticker Symbol")
fundamentals = fundamentals.drop(columns="Period Ending")
fundamentals = fundamentals.drop(columns="For Year")
fundamentals

,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,Cash and Cash Equivalents,Changes in Inventories,Common Stocks,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,Earnings Per Share,Estimated Shares Outstanding,Key
0,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,1.330000e+09,0.0,127000000.0,...,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-3.670000e+08,-5.60,3.350000e+08,AAL2012
1,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,2.175000e+09,0.0,5000000.0,...,1.432300e+10,1.380600e+10,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.000000e+00,-11.25,1.630222e+08,AAL2013
2,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,1.768000e+09,0.0,7000000.0,...,1.175000e+10,1.340400e+10,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.000000e+00,4.02,7.169154e+08,AAL2014
3,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,1.085000e+09,0.0,6000000.0,...,9.985000e+09,1.360500e+10,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.000000e+00,11.39,6.681299e+08,AAL2015
4,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,5.981110e+08,-260298000.0,7000.0,...,3.184200e+09,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-2.709500e+07,5.29,7.328355e+07,AAP2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1771,2.255000e+08,-40400000.0,-3.480000e+07,11.0,-3.423000e+08,4.330700e+09,166.0,1.083300e+09,-164600000.0,2700000.0,...,4.313300e+09,1.024000e+09,6.549900e+09,3.108100e+09,9.658000e+09,4.673300e+09,-6.183700e+09,4.26,1.690845e+08,ZBH2014
1772,4.320000e+08,-56100000.0,-2.750000e+07,1.0,-4.341000e+08,8.195300e+09,100.0,1.459300e+09,-205400000.0,3000000.0,...,5.862900e+09,1.617900e+09,9.887900e+09,1.733160e+10,2.721950e+10,5.997800e+09,-6.329100e+09,0.78,1.884615e+08,ZBH2015
1777,1.381000e+09,-99000000.0,9.000000e+06,54.0,-1.840000e+08,8.780000e+08,43.0,6.100000e+08,-178000000.0,5000000.0,...,3.357000e+09,1.415000e+09,9.400000e+08,5.618000e+09,6.558000e+09,4.561000e+09,0.000000e+00,1.01,4.990099e+08,ZTS2013
1778,1.071000e+09,69000000.0,-7.000000e+06,44.0,-1.800000e+08,9.580000e+08,81.0,8.820000e+08,-110000000.0,5000000.0,...,3.465000e+09,1.086000e+09,1.311000e+09,5.277000e+09,6.588000e+09,4.785000e+09,0.000000e+00,1.16,5.025862e+08,ZTS2014
1779,1.313000e+09,-58000000.0,-8.100000e+07,32.0,-2.240000e+08,1.012000e+09,65.0,1.154000e+09,-262000000.0,5000000.0,...,3.830000e+09,1.781000e+09,1.068000e+09,6.845000e+09,7.913000e+09,4.765000e+09,-2.030000e+08,0.68,4.985294e+08,ZTS2015

In [35]:
fundamentals["Key"]

0       AAL2012
1       AAL2013
2       AAL2014
3       AAL2015
4       AAP2012
         ...
1771    ZBH2014
1772    ZBH2015
1777    ZTS2013
1778    ZTS2014
1779    ZTS2015
Name: Key, Length: 1299, dtype: object

In [36]:
prices["Key"] = prices.symbol+prices.year
#prices = prices.drop(columns="symbol")
#prices = prices.drop(columns="date")

In [37]:
prices["Key"]

0         WLTW2016
1         WLTW2016
2         WLTW2016
3         WLTW2016
4         WLTW2016
            ...
851259     ZBH2016
851260    ZION2016
851261     ZTS2016
851262     AIV2016
851263     FTV2016
Name: Key, Length: 851264, dtype: object

In [38]:
prices

,date,symbol,open,close,low,high,volume,year,Key
0,2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0,2016,WLTW2016
1,2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0,2016,WLTW2016
2,2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0,2016,WLTW2016
3,2016-01-08,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0,2016,WLTW2016
4,2016-01-11,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0,2016,WLTW2016
...,...,...,...,...,...,...,...,...,...
851259,2016-12-30,ZBH,103.309998,103.199997,102.849998,103.930000,973800.0,2016,ZBH2016
851260,2016-12-30,ZION,43.070000,43.040001,42.689999,43.310001,1938100.0,2016,ZION2016
851261,2016-12-30,ZTS,53.639999,53.529999,53.270000,53.740002,1701200.0,2016,ZTS2016
851262,2016-12-30,AIV,44.730000,45.450001,44.410000,45.590000,1380900.0,2016,AIV2016
851263,2016-12-30,FTV,54.200001,53.630001,53.389999,54.480000,705100.0,2016,FTV2016

In [39]:
data = prices.merge(fundamentals, on='Key')
data

,date,symbol,open,close,low,high,volume,year,Key,Accounts Payable,...,Total Assets,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,Earnings Per Share,Estimated Shares Outstanding
0,2012-01-03,AAL,5.200000,5.120000,5.070000,5.220000,6105900.0,2012,AAL2012,3.068000e+09,...,2.351000e+10,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,-5.60,3.350000e+08
1,2012-01-04,AAL,5.090000,5.030000,4.970000,5.180000,5268700.0,2012,AAL2012,3.068000e+09,...,2.351000e+10,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,-5.60,3.350000e+08
2,2012-01-05,AAL,5.150000,5.470000,5.070000,5.480000,8216100.0,2012,AAL2012,3.068000e+09,...,2.351000e+10,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,-5.60,3.350000e+08
3,2012-01-06,AAL,5.440000,5.600000,5.400000,5.670000,8323000.0,2012,AAL2012,3.068000e+09,...,2.351000e+10,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,-5.60,3.350000e+08
4,2012-01-09,AAL,5.560000,5.720000,5.550000,5.800000,8029900.0,2012,AAL2012,3.068000e+09,...,2.351000e+10,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,-5.60,3.350000e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323947,2016-12-23,XLNX,60.380001,60.560001,60.080002,60.570000,1105700.0,2016,XLNX2016,3.072220e+08,...,4.823154e+09,3.918933e+09,9.460860e+08,2.589893e+09,2.233261e+09,4.823154e+09,2.213881e+09,0.0,2.14,2.574145e+08
323948,2016-12-27,XLNX,61.070000,61.240002,60.889999,61.580002,1594400.0,2016,XLNX2016,3.072220e+08,...,4.823154e+09,3.918933e+09,9.460860e+08,2.589893e+09,2.233261e+09,4.823154e+09,2.213881e+09,0.0,2.14,2.574145e+08
323949,2016-12-28,XLNX,62.139999,60.630001,60.590000,62.240002,2141000.0,2016,XLNX2016,3.072220e+08,...,4.823154e+09,3.918933e+09,9.460860e+08,2.589893e+09,2.233261e+09,4.823154e+09,2.213881e+09,0.0,2.14,2.574145e+08
323950,2016-12-29,XLNX,60.599998,60.740002,60.360001,61.119999,1398100.0,2016,XLNX2016,3.072220e+08,...,4.823154e+09,3.918933e+09,9.460860e+08,2.589893e+09,2.233261e+09,4.823154e+09,2.213881e+09,0.0,2.14,2.574145e+08
323951,2016-12-30,XLNX,61.090000,60.369999,60.020000,61.480000,2111700.0,2016,XLNX2016,3.072220e+08,...,4.823154e+09,3.918933e+09,9.460860e+08,2.589893e+09,2.233261e+09,4.823154e+09,2.213881e+09,0.0,2.14,2.574145e+08

In [141]:
selected_data

,symbol,open,close,low,high,volume,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,...,Total Assets,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,Earnings Per Share,Estimated Shares Outstanding
268823,MDLZ,37.270000,37.380001,37.130001,37.419998,8107100.0,7.368000e+09,44000000.0,6.044000e+09,26.0,...,6.284300e+10,8.958000e+09,1.092200e+10,2.801200e+10,3.483100e+10,6.284300e+10,2.963600e+10,-1.446200e+10,4.49,1.618486e+09
268824,MDLZ,37.419998,37.400002,37.169998,37.639999,7331500.0,7.368000e+09,44000000.0,6.044000e+09,26.0,...,6.284300e+10,8.958000e+09,1.092200e+10,2.801200e+10,3.483100e+10,6.284300e+10,2.963600e+10,-1.446200e+10,4.49,1.618486e+09
268825,MDLZ,37.380001,37.250000,37.230000,37.419998,8947300.0,7.368000e+09,44000000.0,6.044000e+09,26.0,...,6.284300e+10,8.958000e+09,1.092200e+10,2.801200e+10,3.483100e+10,6.284300e+10,2.963600e+10,-1.446200e+10,4.49,1.618486e+09
268826,MDLZ,37.099998,37.470001,37.049999,37.549999,6829900.0,7.368000e+09,44000000.0,6.044000e+09,26.0,...,6.284300e+10,8.958000e+09,1.092200e+10,2.801200e+10,3.483100e+10,6.284300e+10,2.963600e+10,-1.446200e+10,4.49,1.618486e+09
268827,MDLZ,37.450001,37.549999,37.349998,37.740002,6645000.0,7.368000e+09,44000000.0,6.044000e+09,26.0,...,6.284300e+10,8.958000e+09,1.092200e+10,2.801200e+10,3.483100e+10,6.284300e+10,2.963600e+10,-1.446200e+10,4.49,1.618486e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268882,MDLZ,41.730000,41.549999,41.259998,41.840000,5568900.0,7.368000e+09,44000000.0,6.044000e+09,26.0,...,6.284300e+10,8.958000e+09,1.092200e+10,2.801200e+10,3.483100e+10,6.284300e+10,2.963600e+10,-1.446200e+10,4.49,1.618486e+09
268883,MDLZ,41.200001,41.259998,40.980000,41.480000,9044900.0,7.368000e+09,44000000.0,6.044000e+09,26.0,...,6.284300e+10,8.958000e+09,1.092200e+10,2.801200e+10,3.483100e+10,6.284300e+10,2.963600e+10,-1.446200e+10,4.49,1.618486e+09
268884,MDLZ,41.480000,41.779999,40.990002,41.889999,6288600.0,7.368000e+09,44000000.0,6.044000e+09,26.0,...,6.284300e+10,8.958000e+09,1.092200e+10,2.801200e+10,3.483100e+10,6.284300e+10,2.963600e+10,-1.446200e+10,4.49,1.618486e+09
268885,MDLZ,41.680000,41.410000,41.310001,41.750000,5909200.0,7.368000e+09,44000000.0,6.044000e+09,26.0,...,6.284300e+10,8.958000e+09,1.092200e+10,2.801200e+10,3.483100e+10,6.284300e+10,2.963600e+10,-1.446200e+10,4.49,1.618486e+09
268886,MDLZ,41.730000,41.250000,41.240002,41.849998,5354000.0,7.368000e+09,44000000.0,6.044000e+09,26.0,...,6.284300e+10,8.958000e+09,1.092200e+10,2.801200e+10,3.483100e+10,6.284300e+10,2.963600e+10,-1.446200e+10,4.49,1.618486e+09

In [154]:
window_size = 32
run_lenght = 32
sampled_symbols = random.sample(list(data.symbol.unique()), 3)
data[data.symbol.isin(sampled_symbols)]
batch_data = np.zeros((3,32+32,80))
i=0
for symbol in sampled_symbols:
    index = random.randint(window_size+run_lenght, len(datas[symbol]))
    selected_data = scaler.transform(datas[symbol].drop(["date","symbol","Key","year"],axis=1)[index-(window_size+run_lenght):index])
    batch_data[i]=selected_data   
    i+=1
batch_data

array([[[-1.08288479e-03,  1.09931663e-02,  7.05380406e-03, ...,
          2.75377683e-01,  5.51119223e-01, -2.70173616e-01],
        [ 5.83109839e-03, -5.71570707e-04, -1.72158896e-04, ...,
          2.75377683e-01,  5.51119223e-01, -2.70173616e-01],
        [ 1.36986732e-02,  1.75505205e-02,  1.87358090e-02, ...,
          2.75377683e-01,  5.51119223e-01, -2.70173616e-01],
        ...,
        [ 5.84010736e-02,  4.65219572e-02,  4.63148626e-02, ...,
          2.75377683e-01,  5.51119223e-01, -2.70173616e-01],
        [ 4.36195156e-02,  4.81910809e-02,  4.40267094e-02, ...,
          2.75377683e-01,  5.51119223e-01, -2.70173616e-01],
        [ 4.12354233e-02,  3.99646031e-02,  4.52310145e-02, ...,
          2.75377683e-01,  5.51119223e-01, -2.70173616e-01]],

       [[ 1.39371456e-02,  1.93212075e-03,  3.56123743e-03, ...,
          2.75377683e-01,  2.78862735e-01,  1.10081943e+00],
        [ 2.44272731e-02,  3.14997131e-02,  3.13812050e-02, ...,
          2.75377683e-01,  2.78862735e-01,  1.10081943e+00],
        [ 3.56326987e-02,  3.81762197e-02,  3.66802895e-02, ...,
          2.75377683e-01,  2.78862735e-01,  1.10081943e+00],
        ...,
        [ 8.49841487e-02,  8.01431049e-02,  8.59373042e-02, ...,
          2.75377683e-01,  2.78862735e-01,  1.10081943e+00],
        [ 8.20039887e-02,  8.32428686e-02,  8.64190479e-02, ...,
          2.75377683e-01,  2.78862735e-01,  1.10081943e+00],
        [ 8.59378237e-02,  8.36006120e-02,  8.78642790e-02, ...,
          2.75377683e-01,  2.78862735e-01,  1.10081943e+00]],

       [[ 2.15941399e+00,  2.24703877e+00,  2.18568519e+00, ...,
          9.07754540e-02,  1.07178492e+00, -5.25181233e-01],
        [ 2.21734812e+00,  2.17550438e+00,  2.19339289e+00, ...,
          9.07754540e-02,  1.07178492e+00, -5.25181233e-01],
        [ 2.14558600e+00,  2.10134706e+00,  2.12402360e+00, ...,
          9.07754540e-02,  1.07178492e+00, -5.25181233e-01],
        ...,
        [ 2.05236651e+00,  2.03565473e+00,  2.03863670e+00, ...,
          9.07754540e-02,  1.07178492e+00, -5.25181233e-01],
        [ 2.05260497e+00,  2.00644471e+00,  2.01491140e+00, ...,
          9.07754540e-02,  1.07178492e+00, -5.25181233e-01],
        [ 2.00921385e+00,  2.01025996e+00,  2.02575029e+00, ...,
          9.07754540e-02,  1.07178492e+00, -5.25181233e-01]]])

In [164]:
data

,symbol,open,close,low,high,volume,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,...,Total Assets,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,Earnings Per Share,Estimated Shares Outstanding
0,AAL,5.200000,5.120000,5.070000,5.220000,6105900.0,3.068000e+09,-222000000.0,-1.961000e+09,23.0,...,2.351000e+10,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,-5.60,3.350000e+08
1,AAL,5.090000,5.030000,4.970000,5.180000,5268700.0,3.068000e+09,-222000000.0,-1.961000e+09,23.0,...,2.351000e+10,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,-5.60,3.350000e+08
2,AAL,5.150000,5.470000,5.070000,5.480000,8216100.0,3.068000e+09,-222000000.0,-1.961000e+09,23.0,...,2.351000e+10,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,-5.60,3.350000e+08
3,AAL,5.440000,5.600000,5.400000,5.670000,8323000.0,3.068000e+09,-222000000.0,-1.961000e+09,23.0,...,2.351000e+10,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,-5.60,3.350000e+08
4,AAL,5.560000,5.720000,5.550000,5.800000,8029900.0,3.068000e+09,-222000000.0,-1.961000e+09,23.0,...,2.351000e+10,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,-5.60,3.350000e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323947,XLNX,60.380001,60.560001,60.080002,60.570000,1105700.0,3.072220e+08,-60843000.0,0.000000e+00,21.0,...,4.823154e+09,3.918933e+09,9.460860e+08,2.589893e+09,2.233261e+09,4.823154e+09,2.213881e+09,0.0,2.14,2.574145e+08
323948,XLNX,61.070000,61.240002,60.889999,61.580002,1594400.0,3.072220e+08,-60843000.0,0.000000e+00,21.0,...,4.823154e+09,3.918933e+09,9.460860e+08,2.589893e+09,2.233261e+09,4.823154e+09,2.213881e+09,0.0,2.14,2.574145e+08
323949,XLNX,62.139999,60.630001,60.590000,62.240002,2141000.0,3.072220e+08,-60843000.0,0.000000e+00,21.0,...,4.823154e+09,3.918933e+09,9.460860e+08,2.589893e+09,2.233261e+09,4.823154e+09,2.213881e+09,0.0,2.14,2.574145e+08
323950,XLNX,60.599998,60.740002,60.360001,61.119999,1398100.0,3.072220e+08,-60843000.0,0.000000e+00,21.0,...,4.823154e+09,3.918933e+09,9.460860e+08,2.589893e+09,2.233261e+09,4.823154e+09,2.213881e+09,0.0,2.14,2.574145e+08
323951,XLNX,61.090000,60.369999,60.020000,61.480000,2111700.0,3.072220e+08,-60843000.0,0.000000e+00,21.0,...,4.823154e+09,3.918933e+09,9.460860e+08,2.589893e+09,2.233261e+09,4.823154e+09,2.213881e+09,0.0,2.14,2.574145e+08

In [163]:
data.columns.get_loc("close")

2

In [165]:
data.drop("symbol",axis=1).columns.get_loc("close")

1

In [74]:
datas = {}
for symbol in sampled_symbols:
    datas[symbol] = data[data.symbol==symbol]

In [150]:
datas[symbol].drop(["date","symbol"],axis=1)

,open,close,low,high,volume,year,Key,Accounts Payable,Accounts Receivable,Add'l income/expense items,...,Total Assets,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,Earnings Per Share,Estimated Shares Outstanding
80282,35.480000,35.709999,35.070000,35.730000,10230700.0,2013,HAL2013,3.751000e+09,-4.490000e+08,-43000000.0,...,2.922300e+10,1.370400e+10,5.026000e+09,1.358100e+10,1.564200e+10,2.922300e+10,2.940200e+10,-8.049000e+09,2.37,8.966245e+08
80283,35.680000,36.310001,35.470001,36.730000,16641200.0,2013,HAL2013,3.751000e+09,-4.490000e+08,-43000000.0,...,2.922300e+10,1.370400e+10,5.026000e+09,1.358100e+10,1.564200e+10,2.922300e+10,2.940200e+10,-8.049000e+09,2.37,8.966245e+08
80284,36.389999,36.650002,36.270000,36.790001,8152700.0,2013,HAL2013,3.751000e+09,-4.490000e+08,-43000000.0,...,2.922300e+10,1.370400e+10,5.026000e+09,1.358100e+10,1.564200e+10,2.922300e+10,2.940200e+10,-8.049000e+09,2.37,8.966245e+08
80285,36.400002,36.650002,36.299999,36.889999,7676400.0,2013,HAL2013,3.751000e+09,-4.490000e+08,-43000000.0,...,2.922300e+10,1.370400e+10,5.026000e+09,1.358100e+10,1.564200e+10,2.922300e+10,2.940200e+10,-8.049000e+09,2.37,8.966245e+08
80286,36.290001,36.189999,35.709999,36.570000,12052900.0,2013,HAL2013,3.751000e+09,-4.490000e+08,-43000000.0,...,2.922300e+10,1.370400e+10,5.026000e+09,1.358100e+10,1.564200e+10,2.922300e+10,2.940200e+10,-8.049000e+09,2.37,8.966245e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253632,35.430000,35.150002,34.930000,35.540001,3725100.0,2015,HAL2015,3.174000e+09,1.468000e+09,-324000000.0,...,3.694200e+10,2.007000e+10,5.337000e+09,1.546200e+10,2.148000e+10,3.694200e+10,2.363300e+10,-7.650000e+09,-0.79,8.493671e+08
253633,34.529999,34.299999,34.070000,34.759998,6844000.0,2015,HAL2015,3.174000e+09,1.468000e+09,-324000000.0,...,3.694200e+10,2.007000e+10,5.337000e+09,1.546200e+10,2.148000e+10,3.694200e+10,2.363300e+10,-7.650000e+09,-0.79,8.493671e+08
253634,34.930000,34.500000,34.200001,35.169998,5406100.0,2015,HAL2015,3.174000e+09,1.468000e+09,-324000000.0,...,3.694200e+10,2.007000e+10,5.337000e+09,1.546200e+10,2.148000e+10,3.694200e+10,2.363300e+10,-7.650000e+09,-0.79,8.493671e+08
253635,33.939999,34.130001,33.860001,34.630001,5682500.0,2015,HAL2015,3.174000e+09,1.468000e+09,-324000000.0,...,3.694200e+10,2.007000e+10,5.337000e+09,1.546200e+10,2.148000e+10,3.694200e+10,2.363300e+10,-7.650000e+09,-0.79,8.493671e+08
253636,33.950001,34.040001,33.889999,34.470001,6194500.0,2015,HAL2015,3.174000e+09,1.468000e+09,-324000000.0,...,3.694200e+10,2.007000e+10,5.337000e+09,1.546200e+10,2.148000e+10,3.694200e+10,2.363300e+10,-7.650000e+09,-0.79,8.493671e+08

In [84]:
sampled_symbols = list(data.symbol.unique())
lens = []
for symbol in sampled_symbols:
    datas[symbol].drop(["symbol"], axis=1)

In [87]:
data

,date,symbol,open,close,low,high,volume,year,Key,Accounts Payable,...,Total Assets,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,Earnings Per Share,Estimated Shares Outstanding
0,2012-01-03,AAL,5.200000,5.120000,5.070000,5.220000,6105900.0,2012,AAL2012,3.068000e+09,...,2.351000e+10,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,-5.60,3.350000e+08
1,2012-01-04,AAL,5.090000,5.030000,4.970000,5.180000,5268700.0,2012,AAL2012,3.068000e+09,...,2.351000e+10,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,-5.60,3.350000e+08
2,2012-01-05,AAL,5.150000,5.470000,5.070000,5.480000,8216100.0,2012,AAL2012,3.068000e+09,...,2.351000e+10,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,-5.60,3.350000e+08
3,2012-01-06,AAL,5.440000,5.600000,5.400000,5.670000,8323000.0,2012,AAL2012,3.068000e+09,...,2.351000e+10,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,-5.60,3.350000e+08
4,2012-01-09,AAL,5.560000,5.720000,5.550000,5.800000,8029900.0,2012,AAL2012,3.068000e+09,...,2.351000e+10,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,-5.60,3.350000e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323947,2016-12-23,XLNX,60.380001,60.560001,60.080002,60.570000,1105700.0,2016,XLNX2016,3.072220e+08,...,4.823154e+09,3.918933e+09,9.460860e+08,2.589893e+09,2.233261e+09,4.823154e+09,2.213881e+09,0.0,2.14,2.574145e+08
323948,2016-12-27,XLNX,61.070000,61.240002,60.889999,61.580002,1594400.0,2016,XLNX2016,3.072220e+08,...,4.823154e+09,3.918933e+09,9.460860e+08,2.589893e+09,2.233261e+09,4.823154e+09,2.213881e+09,0.0,2.14,2.574145e+08
323949,2016-12-28,XLNX,62.139999,60.630001,60.590000,62.240002,2141000.0,2016,XLNX2016,3.072220e+08,...,4.823154e+09,3.918933e+09,9.460860e+08,2.589893e+09,2.233261e+09,4.823154e+09,2.213881e+09,0.0,2.14,2.574145e+08
323950,2016-12-29,XLNX,60.599998,60.740002,60.360001,61.119999,1398100.0,2016,XLNX2016,3.072220e+08,...,4.823154e+09,3.918933e+09,9.460860e+08,2.589893e+09,2.233261e+09,4.823154e+09,2.213881e+09,0.0,2.14,2.574145e+08
323951,2016-12-30,XLNX,61.090000,60.369999,60.020000,61.480000,2111700.0,2016,XLNX2016,3.072220e+08,...,4.823154e+09,3.918933e+09,9.460860e+08,2.589893e+09,2.233261e+09,4.823154e+09,2.213881e+09,0.0,2.14,2.574145e+08

In [72]:
min(lens)

126

In [108]:
for symbol in sampled_symbols:
    data.drop(["symbol"], axis=1)

In [156]:
np.shape(batch_data)

(3, 64, 80)

In [157]:
np.shape(batch_data[:,0:10])

(3, 10, 80)

In [113]:
np.array(list(map(lambda x: scaler.transform(x[0:self.window_size]), batch_data)))

(3, 10, 80)

In [143]:
fit_data = data.drop(["symbol"], axis=1)
scaler = preprocessing.StandardScaler().fit(fit_data)
selected_data = scaler.transform(data.drop(["symbol"], axis=1))

In [144]:
selected_data

array([[-0.81359373, -0.81487126, -0.81502131, ...,  0.25261099,
        -1.77399093, -0.24829232],
       [-0.814905  , -0.81594428, -0.81622564, ...,  0.25261099,
        -1.77399093, -0.24829232],
       [-0.81418976, -0.81069843, -0.81502131, ...,  0.25261099,
        -1.77399093, -0.24829232],
       ...,
       [-0.13483249, -0.15305899, -0.14637776, ...,  0.27537768,
        -0.23584114, -0.32586384],
       [-0.15319029, -0.15174752, -0.1491477 , ...,  0.27537768,
        -0.23584114, -0.32586384],
       [-0.14734915, -0.15615884, -0.15324243, ...,  0.27537768,
        -0.23584114, -0.32586384]])

In [102]:
data

,symbol,open,close,low,high,volume,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,...,Total Assets,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,Earnings Per Share,Estimated Shares Outstanding
0,AAL,5.200000,5.120000,5.070000,5.220000,6105900.0,3.068000e+09,-222000000.0,-1.961000e+09,23.0,...,2.351000e+10,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,-5.60,3.350000e+08
1,AAL,5.090000,5.030000,4.970000,5.180000,5268700.0,3.068000e+09,-222000000.0,-1.961000e+09,23.0,...,2.351000e+10,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,-5.60,3.350000e+08
2,AAL,5.150000,5.470000,5.070000,5.480000,8216100.0,3.068000e+09,-222000000.0,-1.961000e+09,23.0,...,2.351000e+10,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,-5.60,3.350000e+08
3,AAL,5.440000,5.600000,5.400000,5.670000,8323000.0,3.068000e+09,-222000000.0,-1.961000e+09,23.0,...,2.351000e+10,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,-5.60,3.350000e+08
4,AAL,5.560000,5.720000,5.550000,5.800000,8029900.0,3.068000e+09,-222000000.0,-1.961000e+09,23.0,...,2.351000e+10,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,-5.60,3.350000e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323947,XLNX,60.380001,60.560001,60.080002,60.570000,1105700.0,3.072220e+08,-60843000.0,0.000000e+00,21.0,...,4.823154e+09,3.918933e+09,9.460860e+08,2.589893e+09,2.233261e+09,4.823154e+09,2.213881e+09,0.0,2.14,2.574145e+08
323948,XLNX,61.070000,61.240002,60.889999,61.580002,1594400.0,3.072220e+08,-60843000.0,0.000000e+00,21.0,...,4.823154e+09,3.918933e+09,9.460860e+08,2.589893e+09,2.233261e+09,4.823154e+09,2.213881e+09,0.0,2.14,2.574145e+08
323949,XLNX,62.139999,60.630001,60.590000,62.240002,2141000.0,3.072220e+08,-60843000.0,0.000000e+00,21.0,...,4.823154e+09,3.918933e+09,9.460860e+08,2.589893e+09,2.233261e+09,4.823154e+09,2.213881e+09,0.0,2.14,2.574145e+08
323950,XLNX,60.599998,60.740002,60.360001,61.119999,1398100.0,3.072220e+08,-60843000.0,0.000000e+00,21.0,...,4.823154e+09,3.918933e+09,9.460860e+08,2.589893e+09,2.233261e+09,4.823154e+09,2.213881e+09,0.0,2.14,2.574145e+08
323951,XLNX,61.090000,60.369999,60.020000,61.480000,2111700.0,3.072220e+08,-60843000.0,0.000000e+00,21.0,...,4.823154e+09,3.918933e+09,9.460860e+08,2.589893e+09,2.233261e+09,4.823154e+09,2.213881e+09,0.0,2.14,2.574145e+08

In [15]:
batch_data[0].close.to_numpy()[2]

NameError: name 'batch_data' is not defined

In [16]:
returndata = list(map(lambda x: scaler.transform(x[0:4]),batch_data))

NameError: name 'batch_data' is not defined

In [17]:
batch_data[0].iloc[[0]].close

NameError: name 'batch_data' is not defined

In [18]:
unique_symbols = pd.unique(data.symbol)
sampled_symbols = np.random.choice(unique_symbols, int(len(unique_symbols)*0.2))
test_batch_data = []
window_size = 32
run_lenght = 32
for symbol in sampled_symbols:
    end_index = random.randint(window_size+run_lenght, len(data[data.symbol==symbol]))
    selected_data = data[data.symbol==symbol][end_index-(window_size+run_lenght):end_index]
    # selected_data = selected_data.drop(["symbol","date","year","Key"], axis=1)
    test_batch_data.append(selected_data)
test_batch_data

NameError: name 'data' is not defined

In [19]:
test_batch_data[3]

NameError: name 'test_batch_data' is not defined

In [20]:
unique_symbols = pd.unique(data.symbol)
sampled_symbols = np.random.choice(unique_symbols, int(len(unique_symbols)*0.2), replace=False)

NameError: name 'data' is not defined

In [21]:
len(unique_symbols)

501

In [22]:
len(np.array([i for i in unique_symbols if i not in sampled_symbols]))

NameError: name 'sampled_symbols' is not defined

In [23]:
len(np.setdiff1d(unique_symbols, sampled_symbols))+len(sampled_symbols)

NameError: name 'sampled_symbols' is not defined

In [ ]:
len(np.setdiff1d(unique_symbols, sampled_symbols))

In [ ]:
np.random.choice(np.setdiff1d(unique_symbols, sampled_symbols), 32, replace=False)

In [23]:
len(sampled_symbols)

71

In [ ]:
batch_data[0].to_numpy()